{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('other-information') }}" method="POST"  class="form-horizontal">

    <div>
        <h3>Experience Information</h3>
        {% for field in form %}
            {% if field.name != "csrf_token" %}
            <div class="form-group">
                {{ field.label(class_="control-label col-xs-4") }}
                <div class="col-xs-5">
                    {{ field(class_="form-control") }}
                 </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Vazhdo</button>
    </div>
    <br/>
</form>

<br><br>
{% endblock %}
