{% extends "layout.html" %}

{% block body %}
<h2>Deloitte Human Capital Tracker</h2>
<div>
	<br><br>
	<h4 align="left">
	Use the above header navigation bar to experiment with the following prototype features:
	</h4>
	<br>

	<ul>
		<li><strong>Browse: </strong>Browse the database for workers, projects, and positions.</li>
		<li><strong>Register Work: </strong>Register a work posting; like a project or internal position.</li>
		<li><strong>Register Worker: </strong>Register a worker.</li>
		<li><strong>Analytics: </strong>View analytics on registered workers and students.</li>
		<li><strong>Search: </strong>Search the database of registered workers.</li>
	</ul>
</div>

{% endblock %}
