{% extends "layout.html" %}

{% block body %}

<script>

    $(document).ready(function() {
        $(".search-button").click(function() {
            search();
        });
    });

    function search(){
        // TODO: Build search URL.
        // i.e. add the URL search parameters. Remember to use slugs!!
        // e.g. ?education=high-school&industry=construction
        url = "/json/search"

        $.get(url, function( results ) {
            // TODO: Create result rows for HTML table.
            // Each row is a result item.

            // TODO: Don't forget to remove this console.log once you are done.
            console.log(results);
        });  
    }
</script>

<form class="form-horizontal">

    <!-- HIGHEST LEVEL OF EDUCATION -->
    <div class="form-group">
        {{ form.highest_level_of_education.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5">
            {{ form.highest_level_of_education(class_="form-control") }}
        </div>
    </div>

    <!-- INDUSTRY -->
    <div class="form-group">
        {{ form.industry.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5">
            {{ form.industry(class_="form-control") }}
        </div>
    </div>

    <!-- PROFESSION -->
    <div class="form-group">
        {{ form.profession.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5">
            {{ form.profession(class_="form-control") }}
        </div>
    </div>

    <!-- MINIMUM SALARY -->
    <div class="form-group">
        {{ form.minimum_salary.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5">
            {{ form.minimum_salary(class_="form-control") }}
        </div>
    </div>

    <!-- MAXIMUM SALARY -->
    <div class="form-group">
        {{ form.maximum_salary.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5">
            {{ form.maximum_salary(class_="form-control") }}
        </div>
    </div>
</form>

<br>
<div align="center">
    <button class="btn btn-primary search-button">Search</button>
</div>
<br>

<div class="search-result">
    <table class="search-result-table">
    </table>
</div>

{% endblock %}
