{% extends "layout.html" %}

{% block body %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    google.load("visualization", "1", {packages:["corechart"]});

    $(document).ready(function() {
        $(".search-button").click(function() {
            
            search();
        });
    });

    function search(){
        // TODO: Build search URL.
        // i.e. add the URL search parameters.
        // e.g. ?education=High School&industry=Construction


        highest_level_of_education = $( "#highest_level_of_education option:selected" ).text();
        industry = $( "#industry option:selected" ).text();
        profession = $( "#profession option:selected" ).text();
        minimum_salary = $( "#minimum_salary option:selected" ).text();
        maximum_salary = $( "#maximum_salary option:selected" ).text();
        url = "/json/search?education="+highest_level_of_education+"&industry="+industry+"&profession="+profession+"&minimum_salary="+minimum_salary+"&maximum_salary="+maximum_salary;

        $.get(url, function( results ) {

            buildSearchTable(results);

            buildGenderDistributionChart(results);

            salaryRanges = results['salary']['result'];
            buildSalaryRangePieChart(salaryRanges);
            
            
        });  

    }
    function buildSearchTable(result){
        // First remove the results before showing the new results table
        $("#search-results-table td").remove();

        // Populate the table 
        for (var index in result['table-key']) {
                $("#table_rows").append("<tr class='person-row' data-resume-id=" + result['table-key'][index]["_id"] + ">" +
                    "<td></td>"+
                    "<td>"+result['table-key'][index]["first_name"]+"</td>"+
                    "<td>"+result['table-key'][index]["last_name"]+"</td>"+
                    "<td>"+result['table-key'][index]["gender"]+"</td>"+
                    "<td>"+result['table-key'][index]["birth_date"]+"</td>"+
                    "<td>"+result['table-key'][index]["city"]+"</td>"+
                    "<td>"+result['table-key'][index]["industry"]+"</td>"+
                    "<td>"+result['table-key'][index]["profession"]+"</td>"+
                    "<td>"+result['table-key'][index]["minimum_salary_requirement"]+"</td>"+
                    "<td>"+result['table-key'][index]["highest_level_of_education"]+"</td>"+
                    "</tr>");
        }

        // Add the link to the row which takes you to the profile page
        $(".person-row").click(function() {
            var resumeId = $(this).attr('data-resume-id');
            window.location.href = "/profile/" + resumeId
        });
    }

    function buildGenderDistributionChart(result){
 
        var data = google.visualization.arrayToDataTable([
            ['Gender', 'Number'],
            ['Male',     result['gender-distribution']['male']],
            ['Female',   result['gender-distribution']['female']]
        ]);

        var options = {
            title: 'Gender Distribution',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('gender-distribution-chart'));
        chart.draw(data, options);
    }

    function buildSalaryRangePieChart(salaryRanges){

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Salary');
        data.addColumn('number', 'Number');

        for(key in salaryRanges){
            salaryRangeObj = salaryRanges[key];
            range = salaryRangeObj['_id']['salary'];
            count = salaryRangeObj['count'];

            row = [range, count];
            data.addRow(row);
        }

        var options = {
            title: 'Salary Requirements Distribution',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('salary-distribution-chart'));
        chart.draw(data, options);

    }
    function populate_pie_chart(result){
         
    }

    </script>
<form class="form-horizontal">

    <!-- HIGHEST LEVEL OF EDUCATION -->
    <div class="form-group" >
        {{ form.highest_level_of_education.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5" id="highest_level_of_education" >
            {{ form.highest_level_of_education(class_="form-control") }}
        </div>
    </div>

    <!-- INDUSTRY -->
    <div class="form-group">
        {{ form.industry.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5" id="industry">
            {{ form.industry(class_="form-control") }}
        </div>
    </div>

    <!-- PROFESSION -->
    <div class="form-group">
        {{ form.profession.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5" id="profession">
            {{ form.profession(class_="form-control") }}
        </div>
    </div>

    <!-- MINIMUM SALARY -->
    <div class="form-group">
        {{ form.minimum_salary.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5" id="minimum_salary">
            {{ form.minimum_salary(class_="form-control") }}
        </div>
    </div>

    <!-- MAXIMUM SALARY -->
    <div class="form-group">
        {{ form.maximum_salary.label(class_="control-label col-xs-4") }}
        <div class="col-xs-5" id="maximum_salary">
            {{ form.maximum_salary(class_="form-control") }}
        </div>
    </div>
</form>

<br>
<div align="center">
    <button class="btn btn-primary search-button">Search</button>
</div>
<br>


<table>
    <tr>
        <td>
        <!-- THE DIV TO SHOW THE GENDER DISTRIBUTION CHART -->
            <div id="gender-distribution-chart" style="width: 600px; height: 450px;">
            </div>
        </td>
        <td>
        <!-- THE DIV TO SHOW THE SALARY REQUIREMENTS DISTRIBUTION CHART -->
            <div id="salary-distribution-chart" style="width: 600px; height: 450px;">
            </div>
        </td>
    </tr>
</table>


<div class="search-result">

<table id ="search-results-table" class="table table-hover" style="width:800px">  
        <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th> 
            <th>Gender</th>
            <th>Birth Date</th>
            <th>City</th>
            <th>Industry</th>
            <th>Profession</th>
            <th>Minimum Salary Requirement</th>
            <th>Highest Level Of Education</th>
        </tr>
        </thead>
        <tbody id="table_rows">
        <!-- THE ROW TABLES ARE ADDED WITH JQUERY EVERY TIME THE SEARCH CRITERIA HAS RESULTS -->
        </tbody>
</table>

</div>

{% endblock %}
